In [ ]:
my_variable = 32432

In [ ]:
type(my_variable)

In [ ]:
type(32432 / 3)

In [ ]:
type("here's my string")
my_string = "lakdjreow390q43q09uf 032q3qe jflaj )#@($#@)( )"

In [ ]:
my_string[1:10]

In [ ]:
"""allows
me
to use
multiple lines
in my
string
"""

In [ ]:
my_list = ['some string', my_string, 2034983209, my_variable]

In [ ]:
my_list.append('a new string')
phone_number = '19999999999'
my_list.append(phone_number)

In [ ]:
my_list[-1][1:4] = 845
my_list[-1] = '1845999999'

In [ ]:
my_list[1] = phone_number
my_list

In [ ]:
my_tuple = ('some string', my_string, 20349853209, my_variable)

In [ ]:
my_tuple.append(phone_number)

In [ ]:
my_tuple[1] = phone_number

In [ ]:
my_tuple = ('some string', phone_number, 20349853209, my_variable, 'some string', phone_number)

In [ ]:
set(my_tuple)

In [ ]:
num_list = [2, 34, 90, 2, 3, 5, 1, 634, 643, 23, 90]
set(num_list)

[] -> list: mutable & iterable
() -> tuple: immutable & iterable
{} -> dictionary (dict): mutable & iterable

In [ ]:
my_dict = {"key": "value"}

In [ ]:
my_dict['key']

In [ ]:
my_dict = {'name': {'first_name': 'John', 'last_name': 'Droescher'}}

In [ ]:
my_dict['name']['last_name']

In [ ]:
len(range(50))

# for letter in my_string:
#     print(letter)
#     print(letter * 2)
#     print(letter.upper())

In [ ]:
# Define base variables
bal = 10000
deposit = 22500

ret_age = 50
cur_age = 21

# Run loop for each year
for year in range(ret_age - cur_age):
  bal = bal + deposit

# Output the results
print(bal)

In [ ]:
acct_bal = 0
deposit = 22500
cur_age = 22
ret_age = 67
salary = 60000
matching = 0

for year in range(cur_age, ret_age):
    acct_bal = acct_bal + deposit

acct_bal

In [ ]:
%%timeit
acct_bal = 0
deposit = 22500
cur_age = 22
ret_age = 67
salary = 60000
matching = salary * 0.05

for year in range(cur_age, ret_age):
    acct_bal = acct_bal + deposit + matching

In [1]:
acct_bal = int(input('What is your current account balance? '))
deposit = int(input('How much will you contribute every year? '))
cur_age = 22
ret_age = 67

salary = 60000
rf_rate = 0.025
match_rate = 0.05
matching = 0

for year in range(cur_age, ret_age):
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching

acct_bal

What is your current account balance?  1000
How much will you contribute every year?  1200

305662.10330347443

In [2]:
salary = 60000
acct_bal = 0

while salary < 100000:
    salary *= 1 + rf_rate
    matching = salary * match_rate
    acct_bal += deposit + matching
    
print(salary)

100774.91107785924

Homework:
1) Convert variables to dynamic inputs
2) Add investment returns (assume 14% annual return) to both loops
3) For While loop  
    3a) estimate desired retirement balance  
    3b) calculate what age you can retire at